@model Model.TreinoModel

@{
    ViewBag.Title = "Personal Fit - Detalhes do Treino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Treino</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Titulo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayName("Aluno")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @if (Model.Situacao == "A")
            {
                @Html.DisplayName("Ativo")
            }
            else
            {
                @Html.DisplayName("Inativo")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Exercício")
            </th>
            <th>
                @Html.DisplayName("Descricao")
            </th>
            <th>
                @Html.DisplayName("Equipamento")
            </th>
            <th>
                @Html.DisplayName("Peso")
            </th>
            <th>
                @Html.DisplayName("Repetições")
            </th>
        </tr>

        @foreach (var item in Model.TreinoExercicio)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercicio.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercicio.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercicio.Equipamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repeticoes)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @if (User.IsInRole("Professor"))
    {
        @Html.ActionLink("Cadastrar exercício", "CreateTreinoExercicio", new { id = Model.Id }) @:|
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) @:|
        @Html.ActionLink("Ver todos", "Index")
    }
</p>