@model Model.AlunoModel

@{
    ViewBag.Title = "Personal Fit - Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Professor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objetivo)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Aluno"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id });
    }
    else if (User.IsInRole("Professor"))
    {
        @Html.ActionLink("Ver todos", "Index");
    }

</p>

<script>
    $('#inputCpf').mask('000.000.000-00', { reverse: true });
    $('#inputAltura').mask("0,00");
    $('#inputPeso').mask("#0,00", { reverse: true });
</script>
