@model Model.ExercicioModel

@{
    ViewBag.Title = "Personal Fit - Deletar exercício";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar exercício</h2>

<h3>Você tem certeza que deseja deletar o registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-primary" /> |
            @Html.ActionLink("Ver todos", "Index")
        </div>
    }
</div>
