@model Model.ExercicioModel

@{
    ViewBag.Title = "Personal Fit - Detalhes do Exercício";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Exercício</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ver todos", "Index")
</p>
